.mb-cloud {  
    position: relative;
    overflow: hidden;  
    background: linear-gradient(#87CEEB,#E0FFFF);  
}  



.animation{
    animation: cloud1 10s infinite linear;  
}
.animation-slow{
    animation: cloud1 20s infinite linear;  
}
.animation-slow-2{
    animation: cloud1 15s infinite linear;  
}


@keyframes cloud1 {  
    from{transform: translate3d(-270px,0,0)}  
    to{transform: translate3d(2000px,0,0)}  
}  
 
